chardet==3.0.4
Flask==0.12.2
Flask-OAuth==0.12
gunicorn==19.7.1
nltk==3.2.5
numpy==1.14.0
oauth2==1.9.0.post1
oauthlib==2.0.6
olefile==0.44
pandas==0.21.0
regex==2017.4.5
requests==2.18.4
requests-futures==0.9.7
requests-oauthlib==0.8.0
requests-threads==0.1.1
rsa==4.7
s3transfer==0.1.10
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8
spacy==2.0.5
SQLAlchemy==1.2.2
tokenizer==1.0.1
tqdm==4.19.5
tweepy==3.5.0
twython==3.6.0
urllib3==1.22